<main>
        <div class="charts">
            <label for="numberInput">Candle time period: (minutes)</label>
            <input type="number" id="chart-numberInput" value="5">
            <h2>TTF <br> <img src="/img/nl.png" alt="NL Image" height="64"></h2>
            <div class="charts-market">
                <div>
                    <div id="ttf-wd"></div>
                    <div id="ttf-wd-vol"></div>
                </div>

                <div>
                    <div id="ttf-da"></div>
                    <div id="ttf-da-vol"></div>
                </div>
            </div>

            <h2>THE <br> <img src="/img/de.png" alt="DE Image" height="64"></h2>
            <div class="charts-market">
                <div>
                    <div id="the-wd"></div>
                    <div id="the-wd-vol"></div>
                </div>

                <div>
                    <div id="the-da"></div>
                    <div id="the-da-vol"></div>
                </div>
            </div>

            <h2>CEGH <br> <img src="/img/at.png" alt="AT Image" height="64"></h2>
            <div class="charts-market">
                <div>
                    <div id="cegh-wd"></div>
                    <div id="cegh-wd-vol"></div>
                </div>

                <div>
                    <div id="cegh-da"></div>
                    <div id="cegh-da-vol"></div>
                </div>
            </div>

            <h2>PEG <br> <img src="/img/fr.png" alt="FR Image" height="64"></h2>
            <div class="charts-market">
                <div>
                    <div id="peg-wd"></div>
                    <div id="peg-wd-vol"></div>
                </div>

                <div>
                    <div id="peg-da"></div>
                    <div id="peg-da-vol"></div>
                </div>
            </div>
        </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/js/charts.js"></script>
</main>