<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="HP">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/socket.io.js"></script>
    <title><%= title %></title>
</head>