<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/cvstyles.css">
    <script src="https://kit.fontawesome.com/e3b50b909d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="justifiedGallery.min/justifiedGallery.min.css" />
    <script src="justifiedGallery.min/jquery.justifiedGallery.min.js"></script>
    <script src="/js/cvscripts.js"></script>


    <script>
        function showTab(tabName) {
            var tabs = document.getElementsByClassName("tab-content");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].style.display = "none";
            }
            document.getElementById(tabName).style.display = "block";

            // Fade-in animation
            document.getElementById(tabName).classList.add('fade-in');
        }

        window.onload = function() {
            // Show the first tab by default
            showTab('experience');
        };
    </script>
</head>
<body>

    <header>
        <div class="banner">
            <img src="/img/pfb.png" alt="Banner" class="banner-image">
        </div>
        <div class="profile-header">
            <img src="/img/pfp.jpeg" alt="Profile Photo" class="profile-photo">
            <div class="profile-info">
                <h1>My Experience</h1>
                <p>Explore my professional journey, experience, projects, and photography.</p>
            </div>
        </div>
    </header>

    <div class="tabs-container">
        <div class="tabs">
            <button onclick="showTab('experience')">Experience</button>
            <button onclick="showTab('education')">Education</button>
            <button onclick="showTab('volunteering')">Volunteering</button>
            <button onclick="showTab('certifications')">Certifications</button>
            <button onclick="showTab('projects')">Projects</button>
            <button onclick="showTab('photography')">Photography</button>
        </div>
    </div>

    <div class="content">
        <p class="tab-content">Loading ...</p>
        <div id="education" class="tab-content fade-in">
            <div class="box">
                
            </div>
        </div>

        <div id="experience" class="tab-content fade-in" style="display: none;">
            <div class="box">
                
            </div>
        </div>

        <div id="volunteering" class="tab-content fade-in" style="display: none;">
            <div class="box">
                
            </div>
        </div>

        <div id="certifications" class="tab-content fade-in" style="display: none;">
            <div class="box">
                
            </div>
        </div>

        <div id="projects" class="tab-content fade-in" style="display: none;">
            <div class="box">
                
            </div>
        </div>

        <!-- Photography Tab -->
        <div id="photography" class="tab-content fade-in" style="display: none;">
            <div class="photo-gallery" id="mygallery">
                <!-- Add more photos here -->
            </div>
        </div>
    </div>
    </body>
</html>
