<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoormazd.io</title>
    <script src="https://kit.fontawesome.com/e3b50b909d.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/cv.js"></script>
    <link rel="stylesheet" href="css/cv.css">
</head>
<body>
    <div class="ag-timeline-block">
        <div class="ag-timeline_title-box">
            <h2>Hoormazd Pirayeshfar</h2>
            <div class="ag-timeline_top">Professional</div>
          <div class="ag-timeline_tagline">History & Experience</div>
          <div class="ag-timeline_title">Timeline</div>
          <img id="logoimage" src="img/sig.png" height="200">
          <br><h3>scroll to continue<br><i class="fa-solid fa-caret-down"></i></h3>
          <br>
        </div>
        <section class="ag-section">
          <div class="ag-format-container">
            <div class="js-timeline ag-timeline">
              <div class="js-timeline_line ag-timeline_line">
                <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
              </div>
              <div class="ag-timeline_list">

                <div class="js-timeline_item ag-timeline_item">
                  <div class="ag-timeline-card_box">
                    <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                      <div class="ag-timeline-card_point">SEP 2023</div>
                    </div>
                    <div class="ag-timeline-card_meta-box">
                      <div class="ag-timeline-card_meta">PMTP SA</div>
                    </div>
                  </div>
                  <div class="ag-timeline-card_item">
                    <div class="ag-timeline-card_inner">
                      <div class="ag-timeline-card_img-box">
                        <img src="img/pmtpsa.png" class="ag-timeline-card_img" />
                      </div>
                      <div class="ag-timeline-card_info">
                        <div class="ag-timeline-card_title">
                            <h2>PMTP SA</h2>
                            <span class="job-title">Part-time Software Developer</span>
                            <br>
                            <span class="job-timeline">Sep, 2023 - Present</span>
                        </div>
                        <div class="ag-timeline-card_desc">
                          Working with software engineering teams on code and design. advising on product design and innovative idea development. creating prototypes for product demonstrations to potential clients or investors.
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
      
                <div class="js-timeline_item ag-timeline_item">
                  <div class="ag-timeline-card_box">
                    <div class="ag-timeline-card_meta-box">
                      <div class="ag-timeline-card_meta">ICC IFZA</div>
                    </div>
                    <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                      <div class="ag-timeline-card_point">JUL 2023</div>
                    </div>
                  </div>
                  <div class="ag-timeline-card_item">
                    <div class="ag-timeline-card_inner">
                      <div class="ag-timeline-card_img-box">
                        <img src="img/icc.png" class="ag-timeline-card_img" alt="" />
                      </div>
                      <div class="ag-timeline-card_info">
                        <div class="ag-timeline-card_title">
                            <h2>ICC IFZA</h2>
                            <span class="job-title">AI Project Manager</span>
                            <br>
                            <span class="job-timeline">Jul, 2023 - Present</span>
                        </div>
                        <div class="ag-timeline-card_desc">
                            I play a role in supporting the company's technology needs and driving innovation in our daily trading operations by providing AI solutions.
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>

                <div class="js-timeline_item ag-timeline_item">
                    <div class="ag-timeline-card_box">
                      <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                        <div class="ag-timeline-card_point">MAY 2023</div>
                      </div>
                      <div class="ag-timeline-card_meta-box">
                        <div class="ag-timeline-card_meta">Enet Energy SA</div>
                      </div>
                    </div>
                    <div class="ag-timeline-card_item">
                      <div class="ag-timeline-card_inner">
                        <div class="ag-timeline-card_img-box">
                          <img src="img/enetenergysa.png" class="ag-timeline-card_img" />
                        </div>
                        <div class="ag-timeline-card_info">
                          <div class="ag-timeline-card_title">
                              <h2>Enet Energy SA</h2>
                              <span class="job-title">Software Engineering Intern</span>
                              <br>
                              <span class="job-timeline">May, 2023 - Jul, 2023</span>
                          </div>
                          <div class="ag-timeline-card_desc">
                            Developed an AI-powered trading platform and multiple automation tools for commodities trading with a focus on natural gas.
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
        
                  <div class="js-timeline_item ag-timeline_item">
                    <div class="ag-timeline-card_box">
                      <div class="ag-timeline-card_meta-box">
                        <div class="ag-timeline-card_meta">Little Place Labs</div>
                      </div>
                      <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                        <div class="ag-timeline-card_point">JUN 2022</div>
                      </div>
                    </div>
                    <div class="ag-timeline-card_item">
                      <div class="ag-timeline-card_inner">
                        <div class="ag-timeline-card_img-box">
                          <img src="img/lpl.png" class="ag-timeline-card_img" alt="" />
                        </div>
                        <div class="ag-timeline-card_info">
                          <div class="ag-timeline-card_title">
                              <h2>Little Place Labs</h2>
                              <span class="job-title">Deep Learning Intern</span>
                              <br>
                              <span class="job-timeline">Jun, 2022 - Oct, 2022</span>
                          </div>
                          <div class="ag-timeline-card_desc">
                            Created and trained 'detection' and 'classification' TensorFlow models for deployment on satellites and performed research on the efficiency of various deep learning models on edge computing devices.
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>

                  <div class="js-timeline_item ag-timeline_item">
                    <div class="ag-timeline-card_box">
                      <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                        <div class="ag-timeline-card_point">SEP 2019</div>
                      </div>
                      <div class="ag-timeline-card_meta-box">
                        <div class="ag-timeline-card_meta">USI Università della Svizzera italiana</div>
                      </div>
                    </div>
                    <div class="ag-timeline-card_item">
                      <div class="ag-timeline-card_inner">
                        <div class="ag-timeline-card_img-box">
                          <img src="img/usi.png" class="ag-timeline-card_img" />
                        </div>
                        <div class="ag-timeline-card_info">
                          <div class="ag-timeline-card_title">
                              <h2>Università della Svizzera italiana</h2>
                              <span class="job-title">B.Sc. Computer Science</span>
                              <br>
                              <span class="job-timeline">Sep, 2019 - Present</span>
                          </div>
                          <div class="ag-timeline-card_desc">
                            In progress, active student.
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
        
                  <div class="js-timeline_item ag-timeline_item">
                    <div class="ag-timeline-card_box">
                      <div class="ag-timeline-card_meta-box">
                        <div class="ag-timeline-card_meta">Institut auf dem Rosenberg</div>
                      </div>
                      <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                        <div class="ag-timeline-card_point">JUL 2019</div>
                      </div>
                    </div>
                    <div class="ag-timeline-card_item">
                      <div class="ag-timeline-card_inner">
                        <div class="ag-timeline-card_img-box">
                          <img src="img/rb.png" class="ag-timeline-card_img" alt="" />
                        </div>
                        <div class="ag-timeline-card_info">
                          <div class="ag-timeline-card_title">
                              <h2>Institut auf dem Rosenberg</h2>
                              <span class="job-title">High School diploma</span>
                              <br>
                              <span class="job-timeline">Aug, 2017 - Jul, 2019</span>
                          </div>
                          <div class="ag-timeline-card_desc">
                            International A-Levels: Mathematics, Physics, and Economics.
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
      
                
              </div>
            </div>
          </div>
        </section>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/20.0.0/tween.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.157.0/three.js"></script>
    <script src="js/background.js"></script>

</body>
</html>
