<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoormazd.io</title>
    <script src="https://kit.fontawesome.com/e3b50b909d.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/cv.css">
    <link rel="stylesheet" href="css/cv-timeline.css">
</head>
<body>
    <div class="timeline-block">
        <div class="timeline_title-box">
            <h2>Hoormazd Pirayeshfar</h2>
            <div class="timeline_top">Professional</div>
          <div class="timeline_tagline">History & Experience</div>
          <div class="timeline_title">Timeline</div>
          <img id="logoimage" src="img/sig.png" height="200">
          <br><h3>scroll to continue<br><i class="fa-solid fa-caret-down"></i></h3>
          <br>
        </div>
      </div>
      <div class="timeline">
        <section id="cd-timeline" class="cd-container">

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content volunteering">
              <p class="active">Active</p>
              <p class="voltitle">Volunteering </p>
              <h2>The Rook Club</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  Founder & President
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  Dec 2023 - Present
                </span>
              </div>
              <p>Founder and president of "The Rook Club", a student association recognized by Università della Svizzera Italiana, that specializes in organizing various chess-related events at City, Cantonal, and National levels.</p>
              <ul class="content-skills">
                <li>Project management</li>
                <li>Event management</li>
                </ul>
              <span class="cd-date">DECEMBER 2023</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content work">
              <p class="active">Active</p>
              <h2>PMTP SA</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  UI/UX Designer
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  Sep 2023 - Present
                </span>
              </div>
              <p>Working with software engineering teams on code and design. Creating prototypes for product demonstrations for potential clients and investors.</p>
              <ul class="content-skills">
                <li>Flutter</li>
                <li>Figma</li>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                </ul>
              <span class="cd-date">SEPTEMBER 2023</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content work">
              <p class="active">Active</p>
              <h2>ICC IFZA</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  AI Project Manager
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  Jul 2023 - Present
                </span>
              </div>
              <p>I support the company's technology needs and drive innovation in our daily trading operations by providing AI solutions.</p>
              <ul class="content-skills">
                <li>Python</li>
                <li>TensorFlow</li>
                <li>C# .Net</li>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                </ul>
              <span class="cd-date">JULY 2023</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content work">
              <h2>Enet Energy SA</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  Software Engineering Intern
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  May 2023 - Jul 2023 · 3 mos
                </span>
              </div>
              <p>Developed an AI-powered trading platform and multiple automation tools for commodities trading with a focus on natural gas.</p>
              <ul class="content-skills">
                <li>Python</li>
                <li>TensorFlow</li>
                </ul>
              <span class="cd-date">MAY 2023</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content work">
              <h2>Little Place Labs</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  Deep Learning Intern
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  Jun 2022 - Oct 2022 · 5 mos
                </span>
              </div>
              <p>Created and trained 'detection' and 'classification' TensorFlow models for deployment on satellites and performed research on the efficiency of various deep learning models on edge computing devices.</p>
              <ul class="content-skills">
                <li>Python</li>
                <li>TensorFlow</li>
                </ul>
              <span class="cd-date">JUNE 2022</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content volunteering">
              <p class="voltitle">Volunteering </p>
              <h2>ESN Switzerland (Erasmus Student Network)</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  ESN Lugano Active Member
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  Sep 2021 - Feb 2022 · 6 mos
                </span>
              </div>
              <p>An active member of the Erasmus Student Network in Lugano, helping manage and organize activities and trips for visiting exchange students.</p>
              <ul class="content-skills">
                <li>Project management</li>
                <li>Event management</li>
                </ul>
              <span class="cd-date">SEPTEMBER 2021</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content education">
              <p class="active">Active</p>
              <p class="edutitle">Education</p>
              <h2>Università della Svizzera Italiana</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  B.Sc. Computer Science
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  September 2019 - Present
                </span>
              </div>
              <p>In progress, active student.</p>
              <span class="cd-date">SEPTEMBER 2019</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content volunteering">
              <p class="voltitle">Volunteering </p>
              <h2>Institut auf dem Rosenberg</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  Junior Robotics Teacher
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  Sep 2018 - Mar 2019 · 7 mos
                </span>
              </div>
              <p>I taught the basics of robotics and programming to middle school students at Institut auf dem Rosenberg.</p>
              <ul class="content-skills">
                <li>Teaching</li>
                <li>Arduino</li>
                <li>Sketch</li>
                <li>RaspberryPi</li>
                <li>Python</li>
                <li>Blender</li>
                <li>3D Printing</li>
                </ul>
              <span class="cd-date">SEPTEMBER 2018</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
              <p>Project</p>
              <h2>Virtual Classroom</h2>
              <p>Developed a gamified virtual science classroom to aid and enhance remote learning for middle schoolers with basic physics/chemistry labs.</p>
              <ul class="content-skills">
                <li>Unity</li>
                <li>Mongo</li>
                <li>C#</li>
                <li>Python</li>
                </ul>
              <span class="cd-date">AUGUST 2018</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
              <p>Project</p>
              <h2>Platformer Mobile Game</h2>
              <p>Developed a 2D platformer game with basic movement functions for the Android operating system.</p>
              <ul class="content-skills">
                <li>Unity</li>
                <li>Android Studio</li>
                <li>C#</li>
                </ul>
              <span class="cd-date">JUNE 2018</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content volunteering">
              <p class="voltitle">Volunteering </p>
              <h2>Appenzeller Jugendorchester</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  Violist
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  Feb 2018 - Mar 2018 · 2 mos
                </span>
              </div>
              <p>Collaboration with the Appenzeller Jugendorchester as a violist for a number of performances.</p>
              <ul class="content-skills">
                <li>Viola</li>
                <li>Public Performances</li>
                </ul>
              <span class="cd-date">FEBRUARY 2018</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content education">
              <p class="edutitle">Education</p>
              <h2>Institut auf dem Rosenberg</h2>
              <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                  High School
                </span>
                <span class="timeline-content-info-date">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                  Aug 2017 - Jul 2019
                </span>
              </div>
              <p>International A-Levels, and GCSEs</p>
              <ul class="content-skills">
                <li>A-Level Mathematics</li>
                <li>A-Level Physics</li>
                <li>A-Level Economics</li>
                <li>AS-Level German</li>
                <li>GCSE Chemistry</li>
                <li>GCSE English literature</li>
                </ul>
              <span class="cd-date">JULY 2019</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <!-- ITEM -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
              <p>Project</p>
              <h2>Multiplayer FPS Game</h2>
              <p>Developed a multiplayer first-person shooter game with procedural map generation, using functions based on Perlin-noise.</p>
              <ul class="content-skills">
                <li>Unity</li>
                <li>C#</li>
                <li>Blender</li>
                </ul>
              <span class="cd-date">SEPTEMBER 2016</span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->
          
    
        </section> <!-- cd-timeline -->
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/20.0.0/tween.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.157.0/three.js"></script>
    <script src="js/background.js"></script>

</body>
</html>