<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoormazd</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <section>
        <img src="img/sig.png" height="200">
        <br>
        <h1>
            Hoormazd.io
            
        </h1>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/20.0.0/tween.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.157.0/three.js"></script>
    <script src="script.js"></script>
    <script src="js/background.js"></script>

</body>
</html>
