<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoormazd.io</title>
    <script src="https://kit.fontawesome.com/e3b50b909d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <section>
        <img id="logoimage" src="img/sig.png" height="200">
        <br>
        <p style="
            font-size:18px;
            font-weight:bold;
            line-height:20px;
            color:#ffffff;
            padding: 1px;
        ">Hoormazd Pirayeshfar</p>
        <p style="
            font-size:16px;
            line-height:20px;
            color:#ffffff;
        ">email: hi@hoormazd.io</p>
        <br>
        <a href="./cv" class="mainpage-button">My Experience</a>
        <a href="javascript:void(0);" id="spoiler-button"></a>
        <div class="socials">
            <a href="https://www.instagram.com/hoormazd.p" class="fa fa-instagram" target="_blank"></a>
            <a href="https://www.facebook.com/hoormazd.pirayeshfar" class="fa fa-facebook" target="_blank"></a>
            <a href="https://www.linkedin.com/in/hoormazd-p-896876153/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://twitter.com/HoormazdP" class="fa fa-brands fa-x-twitter" target="_blank"></a>

            <a href="https://github.com/Hoormazd1379" class="fa fa-github" target="_blank"></a>
            <a href="https://steamcommunity.com/id/lordhoormazd/" class="fa fa-steam" target="_blank"></a>
            <a href="https://account.xbox.com/en-us/profile?gamertag=LordHoormazd" class="fa fa-brands fa-xbox" target="_blank"></a>
            <a href="https://discordapp.com/users/366485726155505665" class="fa fa-brands fa-discord" target="_blank"></a>

            <a href="https://www.chess.com/member/hoormazd" class="fa cu-chess" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 111.18 166.04" width="100%" height="100%" transform="scale(1)">
                    <defs>
                        <style>.cls-1{fill:#b2e068;}.cls-2{fill:#81b64c;}.cls-3{fill:#5d9948;}</style>
                    </defs>
                    <path class="cls-3" d="m95.68,119.81c-27.91-21.28-24.81-39.75-25.16-47.34,0,0,17.01,0,17.01,0,1.99-3.7,3-7.12,3-11.38l-19.29-12.71h0c6.7-4.86,11.08-12.74,11.08-21.65,0-11.22-6.91-20.82-16.71-24.79-3.09-1.25-24.95,70.53-24.95,70.53-.08,1.65-.09,3.8-.09,6.39,0,7.13,17.53,6.05,16.59,12.35-1.4,9.42-1.69,16.57-9.8,39.2-5.47,15.27-41.97,0-44.58,7.5-1.81,5.22-2.78,11.06-2.78,17.36,0,.67,1.46,10.78,55.59,10.78s55.59-10.1,55.59-10.78c0-15.35-5.73-28-15.5-35.45Z"/>
                    <path class="cls-2" d="m54.61,129.36c3.01-13.69,5.68-28.29,7.3-37.03,2.03-10.91-14.53-12.86-21.33-13.86-.31,9.32-2.91,24.44-25.08,41.34-5.98,4.56-10.43,11.07-13,18.95,5.98,2.92,13.97,4.66,26.28,4.66,7.9,0,22.53.95,25.83-14.06Z"/>
                    <path class="cls-2" d="m66.23,72.47c2.62-6.81,2.28-11.38,2.28-11.38l-10.93-12.71c11.62-4.96,18.61-14.28,18.61-25.14,0-8.67-4.13-16.37-10.53-21.25,0,0,0,0,0,0-3.11-1.27-6.52-1.98-10.09-1.98-14.76,0-26.73,11.97-26.73,26.73,0,8.91,4.37,16.79,11.08,21.65l-19.29,12.71c0,4.27,1.01,7.69,3,11.38h42.59Z"/>
                    <path class="cls-1" d="m54.06,5.45c15.41,2.39-7.1,20.27-14.2,19.44-6.75-.8-.25-21.68,14.2-19.44Z"/>
                </svg>
            </a>
            <a href="https://paypal.me/Hoormazd" class="fa fa-brands fa-paypal" target="_blank"></a>
            <a href="https://revolut.me/hoorma7a8k" class="fa cu-revolut" target="_blank">
                <svg viewBox="0 0 16 16" width="100%" height="100%" transform="scale(1)">
                    <path fill="currentColor" d="M5.708 4.455H3.1V15h2.608V4.455Z"></path>
                    <path fill="currentColor" d="M10.03 9.112c2.136-.107 3.856-1.902 3.856-4.054A4.065 4.065 0 0 0 9.824 1H3.1v2.252h6.404c1.014 0 1.854.796 1.872 1.775.01.49-.175.953-.518 1.302-.343.35-.802.543-1.292.543H7.072a.16.16 0 0 0-.161.16v2.002c0 .034.01.067.03.094L11.174 15h3.098L10.03 9.112Z"></path>
                </svg>
            </a>
            <a href="mailto:hi@hoormazd.io" class="fa fa-solid fa-envelope" target="_blank"></a>
            <br>
            <a href="javascript:void(0);" id="qr-button"></a>

            
        </div>
        <br>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/20.0.0/tween.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.157.0/three.js"></script>
    <script src="js/script.js"></script>
    <script src="js/background.js"></script>

</body>
</html>
