<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoormazd</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <section>
        <img src="img/sig.png" height="200">
        <br>
        <h1>
            Hoormazd.io
            
        </h1>
        <div>
            <a href="https://www.facebook.com/hoormazd.pirayeshfar" class="fa fa-facebook" target="_blank"></a>
            <a href="https://www.linkedin.com/in/hoormazd-p-896876153/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://www.instagram.com/hoormazd.p" class="fa fa-instagram" target="_blank"></a>
            <a href="https://github.com/Hoormazd1379" class="fa fa-github" target="_blank"></a>
            <a href="https://steamcommunity.com/id/lordhoormazd/" class="fa fa-steam" target="_blank"></a>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/20.0.0/tween.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.157.0/three.js"></script>
    <script src="script.js"></script>
    <script src="js/background.js"></script>

</body>
</html>
