body {
  overflow-x: hidden;
  color: white;
  font-weight: bolder;
  font-family: Arial, sans-serif;
}

.timeline_title-box {
  padding: 0 0 30px;
  text-align: center;
}

.timeline_tagline {
  font-size: 30px;
}

.timeline_title {
  font-size: 50px;
}

.timeline_top {
  font-size: 40px;
}

.timeline_item {
  margin: 0 0 50px;
  position: relative;
}

.timeline_item:nth-child(2n) {
  text-align: right;
}

.timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.timeline_line {
  width: 2px;
  background-color: #93AEC1;
  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  transform: translateX(-50%);
}

.timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: #EC6A52;
}